*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.DS_Store
/lib
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-tsvwg-sctp-dtls-chunk.xml
draft-westerlund-tsvwg-sctp-dtls-chunk.xml
package-lock.json
report.xml
!requirements.txt
